html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #11223D;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

:global(.container) {
    width: 540px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height:800px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 25px;
}
